<nav>
  <a routerLink="/top-games-component">Top Games</a>
  <a routerLink="/new-games-component">New Games</a>
  <a routerLink="/slots-component">Sots</a>
  <a routerLink="/jackpots-component">Jackpots</a>
  <a routerLink="/live-component">Live</a>
  <a routerLink="/blackjack-component">Blackjack</a>
  <a routerLink="/roulette-component">Roulette</a>
  <a routerLink="/table-component">Table</a>
  <a routerLink="/poker-component">Poker</a>
  <div class="dropdown">
    <span>Other</span>
    <div class="dropdown-content">
      <a routerLink="/ball-component">Ball</a>
      <a routerLink="/virtual-component">Virtual</a>
      <a routerLink="/fun-component">Fun</a>
    </div>
  </div>
</nav>
