<nav>
  <a routerLinkActive="active" routerLink="/top">Top Games</a>
  <a routerLinkActive="active" routerLink="/new">New Games</a>
  <a routerLinkActive="active" routerLink="/slots">Sots</a>
  <a routerLinkActive="active" routerLink="/jackpots">Jackpots</a>
  <a routerLinkActive="active" routerLink="/live">Live</a>
  <a routerLinkActive="active" routerLink="/blackjack">Blackjack</a>
  <a routerLinkActive="active" routerLink="/roulette">Roulette</a>
  <a routerLinkActive="active" routerLink="/table">Table</a>
  <a routerLinkActive="active" routerLink="/poker">Poker</a>
  <div class="dropdown">
    <span>Other</span>
    <div class="dropdown-content">
      <a routerLinkActive="active" routerLink="/ball">Ball</a>
      <a routerLinkActive="active" routerLink="/virtual">Virtual</a>
      <a routerLinkActive="active" routerLink="/fun">Fun</a>
    </div>
  </div>
</nav>
