nav {
  display: flex;
  justify-content: center;
  background-color: #373737;
  color: #FCFCFC;
}

a {
  color: #FCFCFC;
  text-decoration: none;
  padding: 3rem;
  font-weight: bold;
}
a:hover {
  background-color: #8DC63F;
}

ul {
  list-style-type: none;
}
