<nav>
  <a routerLink="/top-games">Top Games</a>
  <a routerLink="/new-games">New Games</a>
  <a routerLink="/slots">Sots</a>
  <a routerLink="/jackpots">Jackpots</a>
  <a routerLink="/live">Live</a>
  <a routerLink="/blackjack">Blackjack</a>
  <a routerLink="/roulette">Roulette</a>
  <a routerLink="/table">Table</a>
  <a routerLink="/poker">Poker</a>
  <div class="dropdown">
    <span>Other</span>
    <div class="dropdown-content">
      <a routerLink="/ball">Ball</a>
      <a routerLink="/virtual">Virtual</a>
      <a routerLink="/fun">Fun</a>
    </div>
  </div>
</nav>
